beautifulsoup4>=4.12.3
fastapi>=0.109.0
feedparser>=6.0.11
groq>=0.11.0
httpx>=0.26.0
mercadopago>=2.2.0
passlib[bcrypt]>=1.7.4
pdfplumber>=0.11.4
psycopg2-binary>=2.9.9
pydantic[email]>=2.5.0
pydantic>=2.5.0
python-dotenv>=1.0.0
python-jose[cryptography]>=3.3.0
python-multipart>=0.0.6
python-telegram-bot>=21.6
requests>=2.32.3
stripe>=7.8.0
tenacity>=8.3.0
tzdata>=2024.1
uvicorn[standard]>=0.27.0
